{% extends 'base.html' %}

{% block titulo %}
Admin Control 
{% endblock %}

{% block head %}
<style type="text/css">
body{
			background-image: url('../static/fondo2.jpg');
		}
		html{
			margin:0px;
			padding: 0px
		}
		
		.boxlogin{
			
			margin: 43px auto;
			width: 320px
		}

		input[type="submit"]{
			margin-top: 13px;
			align-content: center;
		}

		label{
			margin: 5px;
	
</style>
{% endblock %}

{% block body %}

<div class="jumbotron boxlogin">
<form method="POST" action="{{ url_for('admin') }}">
	<label>Correo:</label>
	<input type="text" name="correo" class="form-control" placeholder="Ingrese Correo" required="Es necesario" pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$">
	<label>Contraseña</label>
	<input type="text" name="contrasena_admin" class="form-control" required="Es necesario">
	<label>User_id</label>
	<input type="text" name="user_id" class="form-control" required="Es necesario" placeholder="Solo numeros" pattern="*/d">
	<label>Grado</label>
	<input type="text" name="grado" class="form-control" required="Es necesario" pattern="[1-9]|10|11|jardin|prejardin|transicion" placeholder="1-11/prejardin/jardin/transicion">
	<label>Rol</label>
	<input type="text" name="rol" class="form-control" required="Es necesario" pattern="[uU]ser|[aA]dmin" placeholder="admin or user">
	<input type="submit" value="Registrar" class="btn btn-success">
	
</div>	
</form>
{% endblock %}