{% extends 'base.html' %}

{% block titulo %} 
Login Edumon
{% endblock %}

{% block head %}
<style type="text/css">
	body{
			background-image: url('../static/fondo.jpg');
		}
		html{
			margin:0px;
			padding: 0px
		}
		
		.boxlogin{
			
			margin: 43px auto;
			width: 320px
		}

		input[type="submit"]{
			margin-top: 13px;
			align-content: center;
		}

		label{
			margin: 5px;
		}
</style> 

{% endblock %}

{% block body %} 
<div class="jumbotron boxlogin">
			<form method="POST" action="{{ url_for('game') }}">
				<label>Nombre de usuario:</label>
				<input type="text" name="usuario" class="form-control" placeholder="&#128273; Username">
				<label>Contraseña:</label>
				<input type="password" name="contrasena" class="form-control" placeholder="&#x1F512; Password">
				<input type="submit" value="Ingresa" class="btn btn-success">

			</form>
		</div>
{% endblock %}

